
@import "./node_modules/normalize.css/normalize.css";
@import "./css/fonts.css";
@import "./node_modules/ungrid/ungrid.css";

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:  Titillium;
}
header {
    border-bottom:  1px solid silver;
    padding: 0 0 0 10px;
}
h1, div.app-body, footer {
    max-width:  960px;
    margin: auto;
}
h1 {
    color: #b13737;
    font-size:  50px;
    font-weight:    300;
    padding:    0 0 0 10px;
}
h2 {
    font-weight:    300;
    font-size:  30px;
    margin-bottom:  10px;
}
a[href] {
    color:  #b13737;
}
a[href]:hover {
    color:  #003366;
}

/* navigation */
.col.nav {
    width:  200px;
    padding:    0 10px;
}
.nav-box {
    margin-bottom:  20px;
}
.nav-box-header {
    font-weight:    bold;
    color:  darkgrey;
    border-bottom:  1px solid silver;
}
.nav-box ul {
    list-style-type:    none;
    padding:    0;
    margin: 0;
}
.nav-box li a, .nav-box li button {
    color:  #b13737;
    display:    block;
    width:  100%;
    text-align: left;
    padding:    5px;
    text-decoration:    none;
    cursor: pointer;
    background: transparent;
    border: none;
    font:   inherit;
}
.nav-box li a:hover, .nav-box li button:hover {
    background: #b13737;
    color:  #fff;
}
.nav-box li a.active, .nav-box li button:active {
    font-weight:    bold;
}
.primary-app {
    padding-left:   30px;
}

/* boxes */
.login-box {
    width:  350px;
    border: 1px solid silver;
    padding:    10px 20px;
}

/* forms */
.formline {
    width:  auto;
    padding-bottom: 10px;
}
.formline label {
    display:    block;
    font-weight:    bold;
}
.formline label.inline {
    display:    inline-block;
    font-weight:    normal;
}
.formline.actions {
    text-align: right;
}

/* ui */
.spinner {
    padding:    20px;
    text-align: center;
}
th {
    text-align: left;
}
th, td {
    padding:    5px;
    vertical-align: top;
}
tr {
    border-bottom:  1px solid silver;
}
tbody tr:nth-of-type(even) {
    background: #eee;
}
td > ul {
    margin: 0;
    padding-left:   20px;
}
button, a.button {
    background: #b13737;
    border: none;
    border-radius:  5px;
    color:  #fff;
    text-decoration:    none;
    padding:    0 5px;
    cursor: pointer;
}
button:disabled {
    background: silver;
    color:  #333;
}
.flash-list {
    margin-left:    230px;
}
.flash-list button {
    position:   absolute;
    top:    10px;
    right:  10px;
    color:  #fff;
}
.flash-list p {
    margin: 0;
}
.flash-success, .flash-error {
    border-radius:  5px;
    padding:    20px;
    margin-top:  10px;
    position:   relative;
}
.flash-success {
    border: 1px solid green;
}
.flash-error {
    border: 1px solid #df5d5d;
}
.flash-success button {
    background: green;
}
.flash-error button {
    background: #df5d5d;
}
.good {
    color:  green;
}
.bad {
    color:  red;
}
td.good, td.bad {
    font-weight:    bold;
}

/* specific areas */
.users-list .admin {
    color:  #333;
}
.groups-list .managed {
    font-weight:    bold;
}


