
@import "./node_modules/normalize.css/normalize.css";
@import "./css/fonts.css";
@import "./node_modules/ungrid/ungrid.css";

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:  Titillium;
}
h1 {
    color: #f1647c;
    font-size:  50px;
    font-weight:    300;
    margin: 0 0 20px 0;
    padding:    0 0 0 10px;
    border-bottom:  1px solid silver;
}
h2 {
    font-weight:    300;
    font-size:  30px;
    margin-bottom:  10px;
}
a {
    color:  #f1647c;
    text-decoration:    underline #84df5d;
}
a:hover {
    color:  #84df5d;
    text-decoration:    underline #f1647c;
}

/* navigation */
.col.nav {
    width:  200px;
    padding:    0 10px;
}
.nav-box-header {
    font-weight:    bold;
    color:  darkgrey;
    border-bottom:  1px solid silver;
}
.nav-box ul {
    list-style-type:    none;
    padding:    0;
    margin: 0;
}
.nav-box li a {
    display:    block;
    padding:    5px;
    text-decoration:    none;
    cursor: pointer;
}
.nav-box li a:hover {
    background: #f1647c;
    color:  #fff;
}
.nav-box li a.active {
    font-weight:    bold;
}
.primary-app {
    padding-left:   30px;
}

/* boxes */
.login-box {
    width:  350px;
    border: 1px solid silver;
    padding:    10px 20px;
}

/* forms */
.formline {
    width:  auto;
    padding-bottom: 10px;
}
.formline label {
    display:    block;
    font-weight:    bold;
}
.formline.actions {
    text-align: right;
}

/* ui */
.spinner {
    background: url("../img/spinner.svg");
    width:  52px;
    height:  52px;
}
